[buildout]
parts =  
    instance
    zopepy
    i18ndude
    zopeskel
    test
#    omelette

extends = 
    sources.cfg
    http://good-py.appspot.com/release/dexterity/1.2.1
    http://dist.plone.org/release/4.2.4/versions.cfg

find-links =
    http://dist.plone.org/release/4.2.4
    http://dist.plone.org/thirdparty

extensions = 
    mr.developer
    buildout.dumppickedversions
    buildout.threatlevel

auto-checkout = *

sources = sources
	
versions = versions

develop =
   src/collective.conference


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8045
debug-mode = off
verbose-security = on
blob-storage = ${buildout:directory}/var/blobstorage

eggs =
    Pillow
    Plone
    psycopg2
    apyb.pythonbrasil
    pas.plugins.sqlalchemy
    Products.LongRequestLogger
    lxml
    Products.PloneFormGen
    Products.PlonePopoll
    collective.twitterportlet
    oauth2
    Products.CMFContentPanels
    zettwerk.ui
    SQLAlchemy == 0.7.9
    python-twitter == 0.8.2
    collective.conference
#    Products.LinguaPlone
#    plone.app.changeownership

zcml =
    pas.plugins.sqlalchemy

environment-vars =
    PYTHON_EGG_CACHE ${buildout:directory}/var/.python-eggs
    zope_i18n_compile_mo_files true
    PTS_LANGUAGES en, pt-br, es
    zope_i18n_allowooed_languages pt_BR,en,es
    longrequestlogger_file ${buildout:directory}/var/log/longrequest.log
    longrequestlogger_timeout 2
    longrequestlogger_interval 2

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

# create bin/test command
[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance:eggs}

# create ZopeSkel command
[zopeskel]
unzip = true
recipe = zc.recipe.egg
eggs =
    ZopeSkel
    ${instance:eggs}

# Version pindowns for new style products go here - this section extends one provided in http://dist.plone.org/release/
[versions]
#Products.ATContentTypes=2.1.4
archetypes.querywidget = 1.0.8
collective.js.jqueryui = 1.8.16.9
plone.app.blocks = 1.0
plone.app.drafts = 1.0a2
plone.app.jquery = 1.7.2
plone.app.jquerytools = 1.5.1
plone.app.tiles = 1.0.1
plone.principalsource = 1.0b1
plone.tiles = 1.2

